NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_AUTH_GOOGLE_ENABLED=false
SUPABASE_SERVICE_ROLE_KEY=
DEFAULT_SCHOOL_NAME=Virtuos Institute
DEFAULT_SCHOOL_SLUG=virtuos-institute
BREVO_API_KEY=
INVITE_EMAIL_FROM=

